@font-face
{
    font-family: 'futura';
    src: url('FuturaLight.ttf');
}

body
{
  font-family: "futura";
}

/*Accueil*/
.fond
{
  background-image: url("images/fond.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: block;
  overflow-x: hidden;

  color: white;
  padding-top: 350px;
  padding-bottom: 20px;
}

.fond_nav
{
  background-color: #203864 !important;
  color: white !important;
  font-size: 18px !important;
}

.navigation
{
  color: white !important;
}

.navigation:hover
{
  color: #203864 !important;
}

.accueil
{
  background-color: #203864 !important;
  color: white;
}

.qualites
{
  padding-top: 40px;
  list-style: none !important;
}

.formation
{
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #dee9fc;
}

.bloc_index
{
  margin: 15px;
}

.description
{
  background-color: #071a31;
  font-size: 16px;
  margin-top: 50px;
  padding: 20px;
  line-height: 2;
  margin-left: 8px;
  text-align: justify;
}

.texte_index
{
  font-size: 16px;
}

.partie_index
{
  margin-bottom: 80px;
}

.gras
{
  font-weight: bold;
}

.titre_forma
{
  color: #203864;
  margin-bottom: 40px;
}

.titre_partie
{
  font-weight: bold;
  font-size: 18px;
}

.dates
{
  padding-left: 30px;
  font-weight: bold;
}

/*Projets*/
.titre_pro
{
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  -webkit-animation-name: animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: animation;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation {
  from {color: #dee9fc;}
  to {color: #203864;}
}

/* Standard syntax */
@keyframes animation {
  from {color: #dee9fc;}
  to {color: #203864;}
}


.bloc_projets
{
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  background-color: #cee1f8;
}

.ligneProjets
{
  height: 1px;
  background-color: #203864;
  border: none;
}

/*Contact*/
input:valid
{
   border: 1px green solid !important;
}

input:invalid
{
   border: 1px #b4000b solid !important;
}

.asterix
{
  color: red !important;
}

.bloc_contact
{
  margin-bottom: 100px;
}

/*footer*/
footer
{
    background-color: #203864;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
